<div class="create_empty_style_stage separate_header" style="display:none;">
  <a class="close_button" style="float:right;"></a>
  <div class="wrap padded top bottom side" style="overflow:auto;">
    <div>
	  <div class="choose">
	   
	    <form class="create_empty_style_form" {{#if logged_in_user}}userid="{{logged_in_user.id}}"{{/if}} class="add_style_form" method="post">
		  <input type="text" style="width:100%;" class="padded" placeholder="Collection name" name="style_name">
		  <div style="width:100%;">
			<div postid="{{id}}" style="float:left;display:inline-block;width:47%;margin-top:8px;" class="button submit"><a href="#">Create</a></div>
			<div style="float:right;display:inline-block;width:47%;margin-top:8px;" class="button cancel"><a href="#">Cancel</a></div>
			<div class="clear"></div>
		  </div>
	    </form>
	    
	  </div>
	</div>
  </div>
</div>