<h4 style="margin-top:11px;margin-bottom:11px;text-align:center;"><a class="search_options_button" href="#">Search options</a></h4>
<div class="search_options separate_header" style="{{#unless show_options}}display:none;{{/unless}}">
  <input type="checkbox" value="true" name="searchTags" {{#if searchTags}}checked{{/if}}> Search tags
  <input type="checkbox" value="true" name="searchTitle" {{#if searchTitle}}checked{{/if}}> Search titles
  <input type="checkbox" value="true" name="searchRetailers" {{#if searchRetailers}}checked{{/if}}> Search retailers
  <input type="isFriend" value="true" name="isFriend">Search following/follwers
  
  <input type="checkbox" value="true" name="photo" {{#if photo}}checked{{/if}}>Search posts with photos
  <input type="checkbox" value="true" name="style" {{#if style}}checked{{/if}}>Search styles
  <input type="checkbox" value="true" name="outfit" {{#if outfit}}checked{{/if}}>Search outfits
  <input type="checkbox" value="true" name="clothing" {{#if clothing}}checked{{/if}}>Search items
  
  <div>
    From <input name="timeMin" type="date" value="{{#if timeMin}}{{timeMin}}{{/if}}"> to <input name="timeMax" type="date" value="{{#if timeMax}}{{timeMax}}{{/if}}">
  </div>
  <div>
    At least <input name="likeMin" type="number" value="{{#if likeMin}}{{likeMin}}{{/if}}"> likes
  </div>
  <div>
    At most <input name="likeMax" type="number" value="{{#if likeMax}}{{likeMax}}{{/if}}"> likes
  </div>
</div>