<h4 style="margin-top:11px;margin-bottom:11px;text-align:center;"><a class="search_options_button" href="#">Search options</a></h4>
<div class="search_options separate_header" style="display:none;">
  <input type="checkbox" value="true" name="searchTags"> Search tags
  <input type="checkbox" value="true" name="searchTitle"> Search titles
  <input type="checkbox" value="true" name="searchRetailers"> Search retailers
  
  <input type="checkbox" value="true" name="photo">Search posts with photos
  <input type="checkbox" value="true" name="style">Search styles
  <input type="checkbox" value="true" name="outfit">Search outfits
  <input type="checkbox" value="true" name="clothing">Search items
  
  <div>
    From <input name="timeMin" type="date"> to <input name="timeMax" type="date">
  </div>
</div>