<a href="/searchfor?q={{tag}}">
  <div class="tag" style="margin-bottom:8px;position:relative;">
	<div class="vertical_moving_bkg" style="background-color:black;background-size:100% auto;background-repeat:no-repeat;background-image:url('{{last_post_image}}');height:100px;width:100%;">
  
  
	  <div class="tag_footer">
		<h2>#{{tag}}</h2>
	  </div>
	</div>
  </div>
</a>