<div id="cover" style="display:none;"></div>
<div id="tutorial" style="border:dotted 1px #eee;display:none;" class="side top bottom padded wrap">
  <a class="close_button" style="position:fixed;right:8px;top:8px;"></a>
  <div style="padding:20px;background:white;">
	<div>
	  <h2>Getting started</h2>
  
  
	  <h3><a class="tutorial getting_around" href="#">Getting around</a></h3>
	  <div class="tutorial getting_around" style="display:none;">
		<p>First off, welcome to Clodiem!</p>
		<p>This is your navigation bar:</p>
		<img src="/images/tutorial/navbar.png" style="width:100%;">
		<p>You should be able to see it from just about anywhere in this app.</p>
		<p>
		  <div style="text-align:center;">
			<img src="/images/icons/black_heart/black_heart.svg" style="width:12px;">
		  </div>
		  The heart button on the far left will take you to your favorites page. From there you
		  can look back at all of the posts you've liked or added to posts or check
		  out all the users you're currently following.
		</p>
		<p>
		  <div style="text-align:center;">
			<img src="/images/icons/home/home.svg" style="width:12px;">
		  </div>
		  The little house button takes you to your feed. All of the outfits the people
		  you follow post will show up there.
		</p>
		<p>
		  <div style="text-align:center;">
			<img src="/images/icons/pencil_and_paper/pencil_and_paper.svg" style="width:12px;">
		  </div>
		  The button in the middle takes you to the create a post page. That's where you
		  can―you guessed it―create a post. See "Creating a post" below for more.</p>
		</p>
		<p>
		  <div style="text-align:center;">
			<img src="/images/icons/user/user.svg" style="width:12px;">
		  </div>
		  Clicking on the head to the right of the create a post button will take you
		  to your profile page, which is what other users will see when they click
		  on your username. From there, you and others can see your styles, posts,
		  followers, and the users who follow you. You can also go there to change your
		  account settings and to log out.
		</p>
	  </div>
	  
	  <h3><a class="tutorial your_aisle" href="#">Your feed</a></h3>
	  <div class="tutorial your_aisle" style="display:none;">
		<p>Your feed is where you can see posts the users you follow make.</p>
		<p>Everything you post will show up on the feeds of all of your followers</p>
	  </div>
	  
	  <h3><a class="tutorial creating_a_post" href="#">Creating a post</a></h3>
	  <div class="tutorial creating_a_post" style="display:none;">
		<p>To create a post, click on the middle button in the navigation bar:</p>
		<div style="text-align:center;">
		  <img src="/images/tutorial/createposticon.png" style="border:dotted 1px rgba(0,0,0,0.15);width:40%;">
		</div>
		<p>
		First, upload an image for the post. That'll be the image that shows up
		when the post makes it to your followers' feeds
		</p>
		<p>
		Next, mark any items that you want to provide some info on.
		</p>
		<img src="/images/tutorial/markanitem1.png" style="border:dotted 1px rgba(0,0,0,0.15);width:100%;">
		<p>
		Give the item a title, and fill out any extra information you want to
		let other users in on.
		</p>
		<img src="/images/tutorial/markanitem2.png" style="border:dotted 1px rgba(0,0,0,0.15);width:100%;">
		<p>
		You can add tags to an item to help out users who search for something
		specific―say, cool jackets.
		</p>
		<p>
		When you're done marking an item, you can mark another one:
		</p>
		<img src="/images/tutorial/createpost2.png" style="border:dotted 1px rgba(0,0,0,0.15);width:100%;">
		<p>
		You can add tags to the entire post:
		</p>
		<img src="/images/tutorial/createpost3.png" style="border:dotted 1px rgba(0,0,0,0.15);width:100%;">
		<p>
		And you can go ahead and post your outfit:
		</p>
		<img src="/images/tutorial/createpost4.png" style="border:dotted 1px rgba(0,0,0,0.15);width:100%;">
	  </div>
	  
	  <h3><a class="tutorial liking_a_post" href="#">Liking a post</a></h3>
	  <div class="tutorial liking_a_post" style="display:none;">
	    <p>See that little heart icon at the bottom of every post?</p>
	    <img src="/images/tutorial/likingapost.png" style="width:100%;">
	    <p>
	    That's the like button. Clicking it will add a single like to the post.
	    <img src="/images/tutorial/likingapost2.png" style="width:100%;">
	    </p>
	    <p>
	    You can view all of the posts that you've liked from your favorites page.
	    <img src="/images/tutorial/likingapost3.png" style="width:100%;">
	    </p>
	  
	  </div>
	  
	  <h3><a class="tutorial creating_a_style" href="#">Creating a style</a></h3>
	  <div class="tutorial creating_a_style" style="display:none;">
		<p>Check out the little shirt icon at the bottom of every post:</p>
		<img src="/images/tutorial/createstyleicon.png" style="width:100%;">
		<p>
		That's the create a style button. Adding a post to a style lets you
		assign it to a category that you can go back and browse through later from
		the favorites page. To create a style, click on it and follow the instructions.
		</p>
	  
	  </div>
	</div>
  </div>
</div>