<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <meta charset="UTF-8">
    
    <style>
    
    
    </style>
  </head>
  <body>
    
    <div class="content_wrap landing">
	  <div class="content centered">
	    <span style="text-transform: lowercase;"><a href="/">c l o d i e m</a></span>
	  </div>
    </div>
    
    <div class="button_wrap">
	  <div class="button"><a href="/login">Sign In</a></div>
	  <div class="button"><a href="/register"> Create an Account</a></div>
	</div>
    
    <div class="button explore big">
      <a href="/aisle">
        <!--
        <img class="bouncing" style="width:13px;margin-right:4px;" src="/images/icons/down_arrow/down_arrow.svg">
        -->
        What is it?
        <img class="bouncing" style="width:13px;margin-left:4px;" src="/images/icons/down_arrow/down_arrow.svg">
    </a>
    </div>
     <!--jQuery-->
    <script src="/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/js/splitbackground.js"></script>
    <script type="text/javascript" src="/js/landing.js"></script>
    <script type="text/javascript" src="/js/rendercontent.js"></script>
    <script type="text/javascript" src="/js/rendersearchbar.js"></script>
    <script>
      function setSizes() {
        splitbackground(0.30, '#3c3d3d');
        renderlanding(0.30);
        rendersearchbar(0.30);
      }
      $(window).resize(function() {
        setSizes();
      });
      $(document).ready(function() {
        setSizes();
      });
      $(window).load(function() {
        setSizes();
      });
    </script>
  </body>
</html>