<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    
    <div class="content_wrap landing">
	  <div class="content centered">
	    <span style="text-transform: lowercase;"><a href="/">c l o d i e m</a></span>
	  </div>
    </div>
    
    <div class="button_wrap">
	  <div class="button"><a href="/login">Sign In</a></div>
	  <div class="button"><a href="/register"> Create an Account</a></div>
	</div>
    
    <div class="button explore big">
      <a href="#">
        What is it?
        <img class="bouncing" style="width:13px;margin-left:4px;" src="/images/icons/down_arrow/down_arrow.svg">
    </a>
    </div>
    
    <div id="cover" style="display:none;"></div>
    <div id="about" style="border:dotted 1px #eee;display:none;" class="side top bottom padded wrap">
      <a class="close_button" style="position:fixed;right:8px;top:8px;"></a>
      <div style="padding:20px;background:white;">
		<div>
		  <h2><a href="/register">Clodiem is the newest way to share your fashion with the world</a></h2>
	  
		  <h3>Get noticed</h3>
		  <div style="text-align:center;margin: 11px 0">
			<img class="corner_icon" src="/images/icons/shirt3/shirt3.svg">
			<img style="margin:0px 11px;" class="corner_icon" src="/images/icons/black_heart/black_heart.svg">
			<img style="width:19px;" src="/images/icons/comment/comment.svg">
		  </div>
		  <p>Publish your outfits, categorize them and others' outfits into styles, and share what you love with the world.</p>
		  <h3>Get inspired</h3>
		  <p>Clodiem boasts a giant collection of styles and outfits posted by its users from all around the world. Go ahead and browse for a while.</p>
		  <h3>Interact</h3>
		  <p>Build a following of like-minded style seekers or follow other users and get updated on their latest looks.</p>
		  
		  <h3 style="text-align:center;"><a href="/register">Get started today!</a><h3>
		</div>
	  </div>
    </div>
     <!--jQuery-->
    <script src="/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/js/splitbackground.js"></script>
    <script type="text/javascript" src="/js/landing.js"></script>
    <script type="text/javascript" src="/js/rendercontent.js"></script>
    <script type="text/javascript" src="/js/rendersearchbar.js"></script>
    {{> universalscripts}}
    <script>
      function setSizes() {
        splitbackground(0.30, '#3c3d3d');
        renderlanding(0.30);
        rendersearchbar(0.30);
        
        setlinks();
      }
      $(window).resize(function() {
        setSizes();
      });
      $(document).ready(function() {
        setSizes();
      });
      $(window).load(function() {
        setSizes();
      });
    </script>
    {{> universalscripts}}
  </body>
</html>