<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
  
    <div class="content_wrap landing">
	  <div class="content centered">
	    <span style="text-transform: lowercase;"><a href="/">c l o d i e m</a></span>
	  </div>
    </div>
    <div class="side top padded wrap">
      <div class="loginwrap">
        <form class="loginform" method="post" action="/loginuser">
          <input {{#if username}}value="{{username}}" {{/if}}class="padded login" name="username" placeholder="Username" type="text">
          <input class="padded login" name="password" placeholder="Password" type="password">
          <input type="submit" v="y" style="position:absolute;top:-200px;">
        </form>
        {{#if message}}<div class="login_message error">{{message}}</div>{{/if}}
        <div id="login_button" class="button big"><a href="#">Log in</a></div>
        <div class="login_message">Don't have an account? <a href="/register">Click here to register</a>.</div>
        <div class="login_message" style="text-align:center;"><span class="link" onclick="window.history.back();">Go back</span></div>
      </div>
    </div>
  </body>
  
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/splitbackground.js"></script>
  <script type="text/javascript" src="/js/landing.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
  {{> universalscripts}}
  <script>
	function setSizes() {
	  splitbackground(0.30, '#3c3d3d');
	  renderlanding(0.30);
	  $('body')
	    .css('margin-top', 0.30 * window.innerHeight + 'px');
	    
	  setlinks();
	}
	$(window).resize(function() {
	  setSizes();
	});
	$(document).ready(function() {
	  setSizes();
	});
	$(window).load(function() {
	  setSizes();
    });
  </script>
  {{> universalscripts}}
</html>