<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  <body>
    <h1>{{username}}'s Profile</h1>
    <a href="/aisle">Go back</a>
    <a href="/closet?username={{username}}">Closet</a><br>
    <a href="/following?username={{username}}">Following</a><br>
    <a href="/followers?username={{username}}">Followers</a>
  </body>
</html>