<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  <body>
    <h1>{{username}}'s Profile</h1>
    <a href="/aisle">Go back</a>
    <a href="/styles?user={{username}}">Styles</a><br>
    <a href="/outfits?user={{username}}">Closet</a><br>
    <a href="/friends?user={{username}}">Friends</a>
  </body>
</html>