<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
  
    <div class="content_wrap landing">
	  <div class="content centered">
	    <span style="text-transform: lowercase;"><a href="/">c l o d i e m</a></span>
	  </div>
    </div>
    <div class="side top padded wrap">
      <div class="registerwrap">
        <form class="registerform validate" method="post" action="/registeruser">
          <div class="validatewrap">
            <input class="padded register" name="username" placeholder="Username" type="text">
          </div>
          <div style="display:none;" name="username" class="message invalid">
            <p>Sorry, but that username's already been taken</p>
          </div>
          <div class="validatewrap">
            <input class="padded register" name="email" placeholder="Email" type="email">
          </div>
          <div class="validatewrap">
            <input class="padded register" name="password" placeholder="Password" type="password">
          </div>
          <div style="display:none;" name="password" class="message invalid">
            <p>Your password must be at least 6 characters long and contain one or more numbers</p>
          </div>
          <div class="validatewrap">
            <input class="padded register" name="verify_password" placeholder="Verify password" type="password">
          </div>
          <div id="register_button" class="button big"><a href="/aisle">Sign up</a></div>
        </form>
        <div class="register_message">Already have an account? <a href="/login">Click here to log in</a>.</div>
        <div class="register_message" style="text-align:center;"><a href="/">Go back</a></div>
      </div>
    </div>
  </body>
  
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/splitbackground.js"></script>
  <script type="text/javascript" src="/js/landing.js"></script>
  <script type="text/javascript" src="/js/validateform.js"></script>
  <script type="text/javascript" src="/js/register.js"></script>
  <script>
	function setSizes() {
	  splitbackground(0.30, '#3c3d3d');
	  renderlanding(0.30);
	  $('body')
	    .css('margin-top', 0.30 * window.innerHeight + 'px');
	}
	$(window).resize(function() {
	  setSizes();
	});
	$(document).ready(function() {
	  setSizes();
	});
	$(window).load(function() {
	  setSizes();
    });
  </script>
  {{> universalscripts}}
</html>