html {
  font-family: 'Helvetica Neue', sans-serif;
}
body {
  margin: 0 auto;
  width: auto;
  /* background: white; */
  /* background: #f5f5f5; */
  font-weight: 200;
  background: #efefef;
  background-image: url("http://subtlepatterns.com/patterns/sos.png");
}
h1, h2, p, form{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
a {
  color: black;
}
.clear {
  clear: both;
}

/* General */
.content_wrap.landing {
  z-index: 1;
  position: absolute;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  border-radius: 8px 8px 0 0;
  border: solid 1px #3d3d3d;
  border-bottom: none;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.16);
  /* background: black; */
  /* background: white; */
  
}
.content_wrap.landing .content{
   padding: 22px 22px 18px 22px;
}
.content_wrap.landing .content a {
  text-decoration: none;
  color: white;
}
.tophalf {
  background-image: linear-gradient(to bottom,
                                    rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                                    url("http://subtlepatterns.com/patterns/binding_dark.png");
  /* background-image: url("http://subtlepatterns.com/patterns/binding_dark.png"); */
  /*
  background-image: linear-gradient(to bottom,
                                    rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.8)),
                                    url("http://subtlepatterns.com/patterns/sprinkles.png");
  */
}
.button {
  padding: 11px;
  background: #3d3c3c;
  color: white;
  display: inline-block;
  font-size: small;
  text-transform: uppercase;
  text-align: center;
}
  .button.explore {
    position: absolute;
	text-align: center;
	font-size: medium;
	padding: 24px 0;
	font-weight: 400;
	background-image: linear-gradient(to bottom,
                                    rgba(61, 73, 87, 0.88), rgba(61, 73, 87, 1)),
                                    url("http://subtlepatterns.com/patterns/binding_dark.png");
    /* background: orange; */
	/* text-transform: uppercase; */
	/* color: black; */
	/* background: #ffd68b; */
	/* box-shadow: 1px 1px 1px rgba(0,0,0,0.24); */
	/* border-top: dashed 1px #6B522D; */
	/* border-bottom: dashed 1px #333;*/
  }
  .button a {
    color: white;
    text-decoration: none;
  }

.centered {
  text-align: center;
}
.whitesnake_fill {
  fill: #f5f5f5;
}
.thin_stroke {
  stroke: #444;
  stroke-width: 0.3px;
}
#topbar {
  height: 43px;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: solid 1px #ddd;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
}
#topbar .menu_button {
  display: inline-block;
  height: 43px;
  width: 43px;
  background-image: url('../images/icons/menu/menu.png');
  background-size: 26px 22px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

/* post styles */
.posts {
  padding-top: 11px;
}
.post {
  background: white;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  margin-bottom: 16px;
  border-radius: 0 8px 0 8px;
  border: solid 1px #ccc;
  border-bottom: none;
  border-left: none;
}
.post_header {
  padding: 11px 18px 4px 18px;
}
.post_header .title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 8px;
}
.post_header .sub {
  padding-left: 4px;
  font-size: 9px;
}
.post_header .sub .user_attribution {
  text-transform: uppercase;
  font-size: 12px;
}
.post_header .sub .post_stats {
  font-size: 9px;
  color: #888;
}
.post_stage {
  position: relative;
}
.post_stage .post_img {
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.post_stage .marker {
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background: black;
  color: white;
  position: absolute;
  display: block;
  opacity: 0.7;
}
.post_caption {
  padding: 14px;
}
.post_caption p {
  border-left: solid 4px #afd2dd;
  padding-left: 6px;
  font-size: small;
}
.post_tags {
  background: #f1f1f1;
  border-bottom: solid 1px #aaa;
  padding: 14px;
  font-size: x-small;
}
.post_tags span.tag {
  color: black;
  text-transform: uppercase;
}
.post_interact {
  height: 36px;
  background-color: #afd2dd;
  border-radius: 0 0 0 8px;
}
.post_interact span {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}
.post_interact .comment_button {
  background-image: url('../images/icons/comment/comment.svg');
  cursor: pointer;
}
.post_interact .like_button {
  background-image: url('../images/icons/black_heart/black_heart.svg');
  cursor: pointer;
}
.post_interact .add_button {
  background-image: url('../images/icons/plus/plus.svg');
  border-left: solid 1px #333;
}
.likes {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url('../images/icons/heart/heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}
.post_comments.post {
  border-radius: 0;
}
.post_comments .comments {
  padding: 8px;
}
.post_comments .comments .post_comment {
  margin-bottom: 8px;
}
.post_comments .comments .post_comment .time {
  font-size: x-small;
}
.post_comments .comments .post_comment .comment {
  font-size: small;
}
.post_comment .profpic {
  float: left;
}
.post_comment .comment_body {
  float: left;
}

/* search */
.searchwrap {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  position: absolute;
  background: white;
}
#searchbox {
  border: none;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  font-size: larger;
  outline: none;
  margin: 0;
  padding: 0;
}
#searchbox_label {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/icons/search/search.svg');
  background-position: center;
  float: left;
}

/* menu */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  background-color: #3c3d3d;
  z-index: 18;
}
#menu a {
  color: white;
  text-shadow: 1px 1px 2px #444;
}