@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html {
  font-family: 'Helvetica Neue', sans-serif;
}
body {
  margin: 0 auto;
  width: auto;
  /* background: white; */
  /* background: #f5f5f5; */
  font-weight: 300;
  background: #efefef;
}
h1, h2, h3, h4, p, form{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
h1, h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}
a {
  color: #679ae5;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
textarea {
  resize: none;
  outline: none;
  border: solid 1px rgba(0,0,0,0.15);
  padding: 6px;
  font-weight: 300;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"], input[type="password"], input[type="email"] {
  border-radius:0;
  border: solid 1px rgba(0,0,0,0.15);
  font-weight: 300;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
}
input.padded {
  padding: 4px 6px;
}
div, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.side.padded.wrap {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
div.top.padded.wrap {
  padding-top: 8px;
  box-sizing: border-box;
}
div.bottom.padded.wrap {
  padding-bottom: 8px;
  box-sizing: border-box;
}
div.separate_header {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border: solid 1px rgba(0,0,0,0.1);
}

/* animations */
@-webkit-keyframes bounce {
  0%, 100% {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  50% {
    margin-top: 4px;
    margin-bottom: 0px;
  }
}
@-moz-keyframes bounce {
  0%, 100% {
    margin-top: 0px;
    margin-bottom: -4px;
  }
  50% {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@-o-keyframes bounce {
  0%, 100% {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  50% {
    margin-top: 4px;
    margin-bottom: 0px;
  }
}
@keyframes bounce {
  0%, 100% {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  50% {
    margin-top: 4px;
    margin-bottom: 0px;
  }
}
.bouncing {
  -webkit-animation: bounce 1.4s infinite;
  -moz-animation: bounce 1.4s infinite;
  -o-animation: bounce 1.4s infinite;
  animation: bounce 1.4s infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  } 50% {
    -webkit-transform: rotate(180deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  } 50% {
    transform: rotate(180deg);
  }
}
.spinning {
  -webkit-animation: spin 4.0s infinite;
  -moz-animation: spin 4.0s infinite;
  -o-animation: spin 4.0s infinite;
  animation: spin 4.0s infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
/* General */
.corner_icon {
  width: 23px;
}
.inline-block {
  display: inline-block;
}
.content {
  box-sizing: border-box;
  padding: 8px;
}
.content_wrap.landing {
  z-index: 1;
  position: absolute;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  border-radius: 8px 8px 0 0;
  border: solid 1px #3d3d3d;
  border-bottom: none;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.16);
  font-family: 'Varela Round';
  /* background: black; */
  /* background: white; */
  
}
.content_wrap.landing .content{
   padding: 22px 22px 18px 22px;
}
.content_wrap.landing .content a {
  text-decoration: none;
  color: white;
}
.tophalf {
  background-image: linear-gradient(to bottom,
                                    rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)),
                                    url("http://subtlepatterns.com/patterns/binding_dark.png");
  /* background-image: url("http://subtlepatterns.com/patterns/binding_dark.png"); */
  /*
  background-image: linear-gradient(to bottom,
                                    rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.8)),
                                    url("http://subtlepatterns.com/patterns/sprinkles.png");
  */
}
.button_wrap {
  /* background-color: #3d3c3c; */
}
.button {
  padding: 11px;
  /* background: #3d3c3c; */
  background: #1b1a1a;
  color: black;
  display: inline-block;
  font-size: small;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: 400;
  display: inline-block;
  /*
  border-radius: 4px;
  border: 1px solid rgba(35,31,32,.88);
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
   */
}
.button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%; /* so the button can be clicked all over */
}
  .big.button {
    display: block;
	font-size: medium;
	padding: 17px 0;
	background-image: linear-gradient(to bottom,
                                    rgba(61, 73, 87, 0.50), rgba(61, 73, 87, 0.57)),
                                    url("http://subtlepatterns.com/patterns/binding_dark.png");
    /* background: orange; */
	/* text-transform: uppercase; */
	/* color: black; */
	/* background: #ffd68b; */
	/* box-shadow: 1px 1px 1px rgba(0,0,0,0.24); */
	/* border-top: dashed 1px #6B522D; */
	/* border-bottom: dashed 1px #333;*/
  }
  .button.inactive {
    background-color: #fff;
  }
  .button.inactive a {
    color: black;
  }
  .button.toggled {
    background-color: #36c4e7;
  }

.centered {
  text-align: center;
}
.whitesnake_fill {
  fill: #f5f5f5;
}
.thin_stroke {
  stroke: #444;
  stroke-width: 0.3px;
}
#topbar, #topbar_back {
  height: 43px;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #141414;
  border-bottom: solid 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
}
#topbar .menu_button {
  display: inline-block;
  height: 43px;
  width: 43px;
  background-image: url('../images/icons/menu/whitemenu.svg');
  background-size: 28px 22px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  float: left;
}
#topbar .home_button {
  color: white;
  font-size: 30px;
  line-height: 43px;
  float: left;
  font-weight: 300;
  margin-left: 4px;
}
#topbar .search_button, #topbar .close_search_button {
  display: inline-block;
  height: 43px;
  width: 43px;
  background-image: url('../images/icons/search/whitesearch.svg');
  background-size: 28px 28px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  float: right;
}
/* login / register */
.loginwrap, .registerwrap {
  background: white;
  padding: 24px;
}
.loginwrap .loginform, .registerwrap .registerform {
  margin-bottom: 8px;
}
.loginwrap input.login, .registerwrap input.register {
  font-size: medium;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  width: 100%;
  margin-bottom: 8px;
  border: solid 1px rgba(0,0,0,0.1);
}
.login_message, .register_message {
  margin-top: 8px;
}

/* profile stuff */
.profile_header {
  background: white;
  padding: 8px;
  border-bottom: solid 1px rgba(0,0,0,0.15);
  position: relative;
}
.profile_header .button_wrap {
  float:right;
}
.profile_header .profpic {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 11px;
}
.profile_header .profile_header_body {
  display: inline-block;
  float: left;
  min-height: 100px;
}
.profile_header_body {
  
}
.profile_header_body h2 {
  font-size: x-large;
}
.profile_header_body p {
  font-size: smaller;
}
.profile_stats {
  /* background: #7fa4c5; */
  background: black;
  width: 100%;
  /* border-bottom: solid 1px rgba(0,0,0,0.15); */
}
.profile_stats .display {
  float: right;
  padding: 11px;
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.04);
  border-bottom: solid 1px rgba(0,0,0,0.15);
}
.profile_stats .display.active {
  background: black;
  color: white;
}
.profile_stats .display.active p {
  color: white;
}
.profile_stats .clear {
  margin-bottom: -8px;
}
.profile_stats .display h3 {
  font-size: large;
  font-weight: 300;
}
.profile_stats .display p {
  color: #888;
  font-size: smaller;
  text-transform: uppercase;
}
.closet .closet_inner {
  padding:11px;
  background:white;
}
.closet .closet_inner h3 {
  font-size: medium;
  font-weight: 300;
}
.closet .closet_inner .button_wrap {
  margin-top: 11px;
}
.closet .closet_inner .button_wrap .button {
  max-width: 25%;
}
.closet .items {
  margin-top: 11px;
}
.closet .items .item_wrapper {
  width: 32%;
  border: solid 1px black;
  margin-right: 2px;
}
.closet .items .item_wrapper img {
  display: block;
  width: 100%;
}
.closet .items .item_wrapper .item_label {
  color: black;
  background: white;
  padding: 2px 0;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: solid 1px black;
  font-size: x-small;
}
/* user display styles */
.user_list .user{
  margin-bottom: 8px
}
.user {
  /*padding: 8px 0;*/
}
.user a.profpic {
  float: left;
  margin-right: 8px;
}
.user img.profpic {
  width: 64px;
  height: 64px;
}
.user .user_body {
  float: left;
}
.user .user_body .user_link {
  color: #333333;
}
/* post styles */
.content .posts {
  /* padding-top: 11px; */
}
.closet .items.posts {
  padding-top: 0px;
}
.closet h3.style_header {
  text-align: center;
  font-size: larger;
  margin-top: auto;
  margin-bottom: 8px;
  /* background: black; */
  /* color: white; */
  padding: 4px 0px;
  /* text-transform: lowercase; */
  font-weight: 400;
  letter-spacing: 3px;
}
.post {
  background: white;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  margin-bottom: 16px;
}
.closet .post {
  background: white;
  border: solid 1px rgba(0,0,0,0.04);
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  margin-bottom: 16px;
}
.closet .post .post_interact {
  border: none;
}

.post_header {
  padding: 11px 11px 4px 11px;
}
.post_header .title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: x-large;
  margin-bottom: 8px;
}
.post_header .title a {
  text-decoration: none;
  color: black;
}
.post_header .sub {
  font-size: small;
}
.post_header .sub .user_attribution {
  text-transform: uppercase;
  font-size: small;
}
.post_header .sub .post_stats {
  font-size: x-small;
  color: #888;
}
.post_stage {
  position: relative;
}
.post_stage .post_img {
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.post_stage .marker, .marker {
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 24px;
  border-radius: 28px;
  background: black;
  color: white;
  position: absolute;
  display: block;
  opacity: 0.7;
  z-index: 4;
  border: solid 2px rgba(245, 255, 0, 0.9);
}
.post_stage .item_stage {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.78);
  color: white;
  z-index:5;
  position:absolute;
  top:0;
  left:0;
}
.post_stage .item_stage .close_button {
  position: absolute;
  top: 8px;
  right: 8px;
}
.post_stage .item_stage .header {
  margin-bottom: 11px;
  margin-right: 24px; /* keep out of the way of the close button */
}
.post_stage .item_stage .header .title {
  display: inline-block;
}
.post_stage .item_stage .header .title a{
  color: white;
}
.post_stage .item_stage .header .see_more {
  color: white;
  text-decoration: underline;
}
.post_stage .item_stage .post_stats {
  margin-bottom: 8px;
}
.post_stage .item_stage h3 {
  font-weight: 300;
}
.post_stage .item_stage .retailer {
  font-weight:400;
  background: rgba(245, 255, 0, 0.9);
  color: black;
  text-decoration: none;
  padding: 0 4px;
}
.post_stage .item_stage .price {
  font-size: xx-large;
}
.post_stage .item_stage .purchase_link {
  font-size: x-large;
  color: white;
  text-decoration: underline;
}
.post_caption {
  padding: 14px;
  border-bottom: solid 1px #f1f1f1;
}
.post_caption p {
  /* border-left: solid 4px #afd2dd; */
  border-left: solid 2px #444;
  padding-left: 6px;
  font-size: small;
}
.post_tags {
  background: #F8F8F8;
  border-bottom: solid 1px rgba(0,0,0,0.15);
  padding: 14px;
  font-size: x-small;
  width: 102%;
  margin-left: -1%;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.14);
}
.post_tags a {
  color: #707d91;
}
.post_tags span.tag {
  color: #707d91;
  text-transform: uppercase;
  margin: 0 1px;
}
.post_interact {
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-top: none;
}
.post_interact span {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}
.post_interact .comment_show_button {
  background-image: url('../images/icons/comment/comment.svg');
  cursor: pointer;
}
.post_interact .like_button {
  background-image: url('../images/icons/black_heart/black_heart.svg');
  cursor: pointer;
}
.post_interact .like_button[status="liked"] {
  background-image: url('../images/icons/black_heart/red_heart.svg');
}
.post_interact .add_button {
  background-image: url('../images/icons/plus/plus.svg');
  border-left: solid 1px #333;
}
.likes {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url('../images/icons/heart/heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}
.likes.white {
  background-image: url('../images/icons/heart/whiteheart.svg');
}
.close_button {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url('../images/icons/close/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.close_button.white {
  background-image: url('../images/icons/close/whiteclose.svg');
}
.post_comments.post {
  border-radius: 0;
}
.post_comments .comments_section {
  padding: 8px;
}
.post_comments .comments_section .comment_box, .post_interact .comment_box {
  width:100%;
  margin-bottom:4px;
}
.post_comments .comments_section .comments .post_comment {
  margin-bottom: 8px;
}
.post_comments .comments_section .comments .post_comment .time {
  font-size: x-small;
}
.post_comments .comments_section .comments .post_comment .comment {
  font-size: small;
}
.post_comment .profpic {
  float: left;
  margin-right: 4px;
  width: 36px;
  height: 36px;
}
.post_comment .comment_body {
  float: left;
}
.load_more_posts_button {
  text-align:center;
  padding:8px;
  background:white;
  margin-top:-8px;
}
.load_more_posts_button a {
  font-size: 28px;
  color: #333333;
  font-weight: 300;
}

/* create post */
.createpost_stepwrap {
  background: white;
  padding: 24px;
  margin-bottom: 8px;
}
.createpost_addeditem, .createpost_additem {
  display:inline-block;
  max-width:23%;
  float: left;
  margin-right: 5px;
}
.createpost_addediteminner, .createpost_additeminner {
  display: inline-block;
  width: 100%;
  padding: 32px 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: black;
  /*
  background: white;
  border: dotted 1px rgba(0,0,0,0.15);
  */
}
.createpost_stepwrap .title {
  display: block;
  text-transform:uppercase;
  font-size:large;
  font-weight:400;
  color:black;
  width: 100%;
}
.createpost_stepwrap .title.upper {
  margin-bottom: 16px;
}
.createpost_stepwrap .title.lower {
  margin-top:16px;
}
.createpost_stepwrap .description {
  margin-top: 8px;
}
.marker_field {
  padding: 0;
  position: relative;
}
.marker_field .marker_field_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.marker_field .marker {
  color: transparent;
  z-index: 4;
}
.createpost_stepwrap .getiteminfo {
  margin-top: 11px;
}
.createpost_stepwrap .getiteminfo input, .getpostinfo input{
  font-size: medium;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  width: 100%;
  margin-bottom: 8px;
  border: solid 1px rgba(0,0,0,0.1);
}

.settings_form input, .settings_form textarea{
  width: 100%;
  margin-bottom: 8px;
}

/* search */
.searchwrap {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  position: absolute;
  background: white;
}
#searchbox {
  border: none;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  font-size: larger;
  outline: none;
  margin: 0;
  padding: 0;
}
#searchbox_label {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/icons/search/search.svg');
  background-position: center;
  float: left;
}

/* menu */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  background-color: #3c3d3d;
  z-index: 18;
  padding: 11px;
}
#menu a {
  color: white;
  /* text-shadow: 1px 1px 2px #444; */
  display: block;
  font-size: medium;
  /* text-shadow: 1px 1px 1px black; */
  border-bottom: solid 1px rgba(0,0,0,0.1);
  padding: 4px 0;
  /* text-align: right; */
}
#menu .settings_button {
  height: 43px;
  width: 43px;
  background-image: url('../images/icons/gear/whitegear.svg');
  background-size: 28px 28px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  position: absolute;
  right:0;
  top:0;
}