html {
  font-family: 'Helvetica Neue', sans-serif;
}
body {
  margin: 0 auto;
  width: auto;
  background: white;
  /* background: #f5f5f5; */
  font-weight: 200;
  /*background: #efefef;*/
}
h1, h2, p{
  margin: 0;
}
a {
  color: black;
}
.clear {
  clear: both;
}

/* General */
.content_wrap.landing {
  z-index: 1;
  position: absolute;
  background: white;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
  border-radius: 8px 8px 0 0;
  border: solid 1px #AAA;
  border-bottom: none;
}
.content_wrap.landing .content{
   padding: 22px 22px 18px 22px;
}
.content_wrap.landing .content a {
  text-decoration: none;
}
.button {
  padding: 11px;
  background: black;
  color: white;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
  .button.explore {
    position: absolute;
	text-align: center;
	font-size: 16px;
	background: orange;
	/* text-transform: uppercase; */
	/* color: black; */
	/* background: #ffd68b; */
	/* box-shadow: 1px 1px 1px rgba(0,0,0,0.24); */
	/* border-top: dashed 1px #6B522D; */
	/* border-bottom: dashed 1px #333;*/
	padding: 24px 0;
  }
  .button a {
    color: white;
    text-decoration: none;
  }

.centered {
  text-align: center;
}
.whitesnake_fill {
  fill: #f5f5f5;
}
.thin_stroke {
  stroke: #444;
  stroke-width: 0.3px;
}
#topbar {
  height: 43px;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: solid 1px #ddd;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24); */
}

/* post styles */
.posts {
  padding-top: 11px;
}
.post {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
}
.post_header {
  padding: 11px 18px 4px 18px;
}
.post_header .title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 8px;
}
.post_header .sub {
  padding-left: 4px;
  font-size: 9px;
}
.post_header .sub .user_attribution {
  text-transform: uppercase;
  font-size: 12px;
}
.post_header .sub .post_stats {
  font-size: 9px;
  color: #888;
}
.post_img {
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.post_caption {
  padding: 14px;
}
.post_caption p {
  border-left: solid 4px #afd2dd;
  padding-left: 6px;
  font-size: 12px;
}
.post_tags {
  background: #ffd68b;
  min-height: 48px;
  padding: 14px;
}
.post_tags span.tag {
  color: black;
  text-transform: uppercase;
}
.post_interact {
  height: 48px;
  background-color: #afd2dd;
}
.post_interact span {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}
.post_interact .like_button {
  background-image: url('../images/icons/black_heart/black_heart.svg');
}
.post_interact .add_button {
  background-image: url('../images/icons/plus/plus.svg');
}
.likes {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url('../images/icons/heart/heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}